{
	"map": {
		"entities": "entities",
		"basic": "basic"
	},
	"filename": "src/app/app.component.scss",
    "formatUsing": "scss"
}
---
.example-container {
    width: auto;
    height: calc(100% - 84px);
    margin: 10px;
}
.mat-drawer {
  width: 200px;
  background-color: #eee;
}