{
    "forEach": "entities",
    "filename": "src/app/components/entities/{{kebabCase name}}-form/{{kebabCase name}}-form.component.scss",
    "formatUsing": "scss"
}
---
h2 {
    padding-left: 20px;
}
.inputField {
    margin: 10px;

    mat-form-field {
        width: 100%;
        max-width: 500px;
    }
}