{
	"map": {
		"entities": "entities",
		"basic": "basic"
	},
	"filename": "src/app/components/main-content/main-content.component.html"
}
---
<h2>Welcome to Projor Angular / Material Frontend!</h2>
<h3>This is a Projor generated frontend for CRUD APIs, using Angular / Material</h3>
<h3>You may start by clicking on an Entity on the left</h3>
<h3>Don't worry, you can always come back to this friendly welcome page by clicking on the menu icon in the top left corner!</h3>
