{
	"map": {
		"entities": "entities",
		"basic": "basic"
	},
	"filename": "src/app/components/main-content/main-content.component.scss",
    "formatUsing": "scss"
}
---
h2, h3 {
	padding-left: 20px;
}