{
	"map": {
		"entities": "entities",
		"basic": "basic"
	},
	"filename": "src/app/components/main-drawer/main-drawer.component.scss",
    "formatUsing": "scss"
}
---
.navBtn {
    display: block;
	width: calc(100% - 20px);
	margin: 10px;
}