{
    "map": {
        "entities": "entities",
        "basic": "basic"
    },
    "filename": "README.md"
}
---
# Projor generated Angular frontend app

This is an Angular frontend template for [Projor](https://projor.io/) code generator.
## Installation
From project root directory
- `npm install`

## Run
From project root directory
- `ng serve`