{
	"map": {
		"entities": "entities",
		"basic": "basic"
	},
	"filename": "src/app/components/success-snackbar/success-snackbar.component.scss",
    "formatUsing": "scss"
}
---
:host {
  display: flex;
}